{% extends 'base.html.twig' %}

{% block body %}

    <h1 class="centered">Contacts App</h1>

    {%  if contact == null %}
        <h2>{{ action }}</h2>
    {%  else %}
        <main class="contact">
            <h2>{{ action }}: Id: {{ contact.id }}, {{ contact.title}} {{ contact.name }} {{ contact.surname}} </h2>
            <ul>
                <li><strong>Birth date:</strong> {{ contact.birthdate|date('Y-m-d') }}</li>
                <li><strong>Email:</strong> {{ contact.email }} </li>
            </ul>
        </main>
    {% endif %}
    <p>
        <a href="{{ path('single_contact', { id: contact.id }) }}">Return to contact {{ contact.name }} {{ contact.surname }} </a>
        <a href="{{ path('contact_list') }}">Return to contact list</a>
        <a href="{{ path('app_main_page') }}">Return to main page</a>
    </p>

{% endblock %}
